.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  flex: 1;
  padding: 15px;
}

.likes {
  display: inline-block;
  margin-left: 4px;
  vertical-align: text-top;
}

.author {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
