.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.likes {
  display: inline-block;
  margin-left: 4px;
  vertical-align: text-top;
}
